@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  li {
    margin-bottom: 0;
  }

  /* light theme */
  --background-light: #faf9f8;
  --foreground-light: theme('colors.stone.800');

  --terminal-bg-light: theme('colors.white');
  --terminal-text-light: theme('colors.stone.800');
  --terminal-border-light: theme('colors.stone.200');
  --terminal-header-light: theme('colors.stone.50');
  --terminal-button-light: color-mix(in srgb, theme('colors.stone.100') 80%, theme('colors.stone.200') 30%);
  --terminal-button-hover-light: theme('colors.stone.200');

  --terminal-prompt-directory-light: theme('colors.cyan.600');
  --terminal-prompt-prefix-light: theme('colors.lime.600');
  --terminal-prompt-time-light: theme('colors.stone.400');

  /* dark theme */
  --background-dark: #020509;
  --foreground-dark: theme('colors.neutral.200');

  --terminal-bg-dark: theme('colors.gray.900');
  --terminal-text-dark: theme('colors.gray.200');
  --terminal-border-dark: theme('colors.gray.700');
  --terminal-header-dark: theme('colors.gray.800');
  --terminal-button-dark: theme('colors.gray.700');
  --terminal-button-hover-dark: theme('colors.gray.600');

  /* common theme */
  --terminal-prompt-directory: theme('colors.cyan.600');
  --terminal-prompt-prefix: theme('colors.lime.500');
  --terminal-prompt-time: theme('colors.gray.500');
  --terminal-output-command: var(--terminal-prompt-prefix);
}

@theme {
  --background: var(--background-light);
  --foreground: var(--foreground-light);

  --color-terminal-bg: var(--terminal-bg-light);
  --color-terminal-text: var(--terminal-text-light);
  --color-terminal-border: var(--terminal-border-light);
  --color-terminal-header: var(--terminal-header-light);
  --color-terminal-button: var(--terminal-button-light);
  --color-terminal-button-hover: var(--terminal-button-hover-light);

  --color-terminal-prompt-directory: var(--terminal-prompt-directory);
  --color-terminal-prompt-prefix: var(--terminal-prompt-prefix);
  --color-terminal-prompt-time: var(--terminal-prompt-time);
  --color-terminal-output-command: var(--terminal-output-command);

  --color-terminal-scrollbar: var(--color-terminal-border);
  --color-terminal-scrollbar-hover: var(--color-terminal-button-hover);
}

@layer theme {
  .dark {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);

    --color-terminal-bg: var(--terminal-bg-dark);
    --color-terminal-text: var(--terminal-text-dark);
    --color-terminal-border: var(--terminal-border-dark);
    --color-terminal-header: var(--terminal-header-dark);
    --color-terminal-button: var(--terminal-button-dark);
    --color-terminal-button-hover: var(--terminal-button-hover-dark);

    --color-terminal-scrollbar: var(--color-terminal-border);
    --color-terminal-scrollbar-hover: var(--color-terminal-button-hover);
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  time {
    margin: 0 0;
  }
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-terminal-scrollbar) transparent;
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-terminal-scrollbar-hover);
}
